.elements {
	margin: 50px auto 66px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 282px);
	gap: 20px 17px;
	max-width: 880px;
}

@media screen and (max-width: 923px) {
	.elements {
		max-width: 600px;
		justify-content: center;
	}
}

@media screen and (max-width: 647px) {
	.elements {
		max-width: 282px;
		margin: 36px auto 48px;
	}
}